@model EntityLayer.Concrete.Iletisim
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!-- Top header -->
<header class="navbar-toggler p-4">
    <p class="w3-left text-dark font-weight-bolder" style="font-size:20px">İletişim</p>
    <p class="w3-right text-dark font-weight-normal" style="font-size:20px">
        <i class="icon-calendar mr-2"></i>@DateTime.Now.ToLongDateString()
    </p>
</header>
<hr />

@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
{
    @Html.Label("İsim")
    @Html.TextBoxFor(x => x.IletisimIsım, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.IletisimIsım)
    <br />
    @Html.Label("Soyisim")
    @Html.TextBoxFor(x => x.IletisimSoyisim, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.IletisimSoyisim)
    <br />
    @Html.Label("Email")
    @Html.TextBoxFor(x => x.IletisimEmail, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.IletisimEmail)
    <br />
    @Html.Label("Konu")
    @Html.TextBoxFor(x => x.IletisimKonu, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.IletisimKonu)
    <br />
    @Html.Label("Mesaj")
    @Html.TextBoxFor(x => x.IletisimMesaj, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.IletisimMesaj)
    <br />
    <button type="submit" class="btn btn-outline-primary">Gönder<i class="icon-send ml-2"></i></button>
}