@model EntityLayer.Concrete.Iletisim
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<header class="w3-container w3-xlarge w3-padding">
    <p class="w3-center">İletişim</p>
</header>
<hr />

@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
{
    @Html.Label("İsim")
    @Html.TextBoxFor(x => x.IletisimIsım, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.IletisimIsım)
    <br />
    @Html.Label("Soyisim")
    @Html.TextBoxFor(x => x.IletisimSoyisim, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.IletisimSoyisim)
    <br />
    @Html.Label("Email")
    @Html.TextBoxFor(x => x.IletisimEmail, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.IletisimEmail)
    <br />
    @Html.Label("Konu")
    @Html.TextBoxFor(x => x.IletisimKonu, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.IletisimKonu)
    <br />
    @Html.Label("Mesaj")
    @Html.TextBoxFor(x => x.IletisimMesaj, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.IletisimMesaj)
    <br />
    <button type="submit" class="btn btn-outline-primary">Gönder</button>
}