@model EntityLayer.Concrete.Kullanıcı
@{
    ViewData["Title"] = "Kullanıcı Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<header class="w3-container w3-xlarge w3-padding">
    <p class="w3-center">Kullanıcı Ekleme Sayfası</p>
</header>
<hr />

@using (Html.BeginForm("AddKullanıcı", "Kullanıcı", FormMethod.Post)){
<div class="row">
    <div class="col">
        <label for="formGroupExampleInput">İsim</label>
        @Html.TextBoxFor(x => x.KullanıcıIsım, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.KullanıcıIsım, "", new { @class = "text-danger"})
    </div>
    <div class="col">
        <label for="formGroupExampleInput">Soyisim</label>
        @Html.TextBoxFor(x => x.KullanıcıSoyisim, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.KullanıcıSoyisim, "", new { @class = "text-danger" })
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <label for="formGroupExampleInput">TC Kimlik No</label>
        @Html.TextBoxFor(x => x.KullanıcıTCNo, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.KullanıcıTCNo, "", new { @class = "text-danger" })
    </div>
    <div class="col">
        <label for="formGroupExampleInput">Telefon No</label>
        @Html.TextBoxFor(x => x.KullanıcıTelefonNo, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.KullanıcıTelefonNo, "", new { @class = "text-danger" })
    </div>
</div>
<br />
<div class="form-group">
    <label for="formGroupExampleInput">E-Mail</label>
    @Html.TextBoxFor(x => x.KullanıcıEmail, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.KullanıcıEmail, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    <label for="formGroupExampleInput2">Araç Plakası</label>
    @Html.TextBoxFor(x => x.KullanıcıAraçBilgisi, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.KullanıcıAraçBilgisi, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    <label for="formGroupExampleInput2">Daire No</label>
    @Html.TextBoxFor(x => x.KullanıcıDaireNo, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.KullanıcıDaireNo, "", new { @class = "text-danger" })
</div>
<button type="submit" class="btn btn-primary">Kullanıcıyı Kaydet</button>
}


