@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using EntityLayer.Concrete
@model IPagedList<Aidat>

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!-- Top header -->
<header class="navbar-toggler p-4">
    <p class="w3-left text-dark font-weight-bolder" style="font-size:20px">Aidatlarım</p>
    <p class="w3-right text-dark font-weight-normal" style="font-size:20px">
        <i class="icon-calendar mr-2"></i>@DateTime.Now.ToLongDateString()
    </p>
</header>
<hr />

@if (Model is not null)
{
    <div class="w3-container pl-3 pt-3 mt-3 mb-3 bg-success text-white" id="aidatSayısı">
        <p>@Model.Count adet aidat listelendi.</p>
    </div>
    <div class="w3-container pl-3 pt-3 mt-3 mb-3 bg-danger text-white" id="!aidatSayısı">
        <p>@ViewBag.odenmemisAidatSayısı adet ödenmemiş aidatınız bulunmaktadır.</p>
    </div>
}
else
{
    <div class="w3-container pl-3 pt-3 mt-3 mb-3 bg-danger text-white" id="jeans">
        <p>Herhangi bir Aidat bulunamadı.</p>
    </div>
}

<table class="table table-bordered table-striped p-5">
    <tr>
        <th>Aidat Tarihi</th>
        <th>Aidat Son Ödeme Tarihi</th>
        <th>Aidat Ücreti</th>
        <th>Aidat Sahibi</th>
        <th>Aidat Durumu</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@(((DateTime)item.AidatTarihi).ToString("dd-MMM-yyyy"))</td>
            <td>@(((DateTime)item.AidatSonOdemeTarihi).ToString("dd-MMM-yyyy"))</td>
            <td>@item.AidatUcreti TL</td>
            <td>@item.AidatKullanıcı.KullanıcıIsım @item.AidatKullanıcı.KullanıcıSoyisim</td>
            <td>
                @if (@item.AidatOdendiMi)
                {
                    <p class="text-success">Ödendi<i class="icon-check ml-2"></i></p>
                }
                else
                {
                    <p class="text-danger">Ödenmedi<i class="icon-times ml-2"></i></p>
                }
            </td>
        </tr>
    }
</table>
<hr />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("GetAidat", new { page }),
    new PagedListRenderOptions
    {
        LiElementClasses = new List<string> { "page-item" },
        PageClasses = new List<string> { "page-link " },
        Display = PagedListDisplayMode.IfNeeded
    })
