@using OdemeSistemi.Entities
@model Odeme

@{
    ViewData["Title"] = "FaturaOdeme";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Top header -->
<header class="navbar-toggler p-4">
    <p class="w3-left text-dark font-weight-bolder" style="font-size:20px">Fatura Ödeme Sayfası</p>
    <p class="w3-right text-dark font-weight-normal" style="font-size:20px">
        <i class="icon-calendar mr-2"></i>@DateTime.Now.ToLongDateString()
    </p>
</header>
<hr />

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Message
    </div>
}

@using (Html.BeginForm("FaturaOdeme", "Odeme", FormMethod.Post))
{
    <div class="d-flex flex-row col-md-12">
        @Html.HiddenFor(model => model.OdemeFaturaId, new { @class = "form-control" })
        <div class="col-md-12">
            @Html.Label("Net Ödeme Ücreti")
            @Html.TextBoxFor(model => model.OdemeNetTutarı, new { @class = "form-control", @readonly = "readonly"})
        </div>
    </div>
    <br />
    <div class="d-flex flex-row col-md-12">
        <div class="col-md-12">
            @Html.Label("Ödenecek Fatura Tipi")
            @Html.TextBoxFor(model => model.OdemeFaturaTipi, new { @class = "form-control", @readonly = "readonly"})
        </div>
    </div>
    <br />
    <div class="d-flex flex-row col-md-12">
        <div class="col-md-6">
            @Html.LabelFor(model => model.OdemeKartNumarası, "Kart Numarası")
            @Html.TextBoxFor(model => model.OdemeKartNumarası, new { @class = "form-control"})
            @Html.ValidationMessageFor(model => model.OdemeKartNumarası, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.OdemeKrediKartıUzerindekiIsim, "Kart Üzerindeki İsim")
            @Html.TextBoxFor(model => model.OdemeKrediKartıUzerindekiIsim, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OdemeKrediKartıUzerindekiIsim, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="d-flex flex-row col-md-12">
        <div class="col-md-6">
            @Html.LabelFor(model => model.OdemeKartNumarasıSonKullanımAy, "Kart Son Kullanım Tarihi - Ay")
            @Html.TextBoxFor(model => model.OdemeKartNumarasıSonKullanımAy, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OdemeKartNumarasıSonKullanımAy, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.OdemeKartNumarasıSonKullanımYıl, "Kart Son Kullanım Tarihi- Yıl")
            @Html.TextBoxFor(model => model.OdemeKartNumarasıSonKullanımYıl, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OdemeKartNumarasıSonKullanımYıl, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="d-flex flex-row col-md-12">
        <div class="col-md-12">
            @Html.LabelFor(model => model.OdemeKrediKartıCVV, "CVV")
            @Html.TextBoxFor(model => model.OdemeKrediKartıCVV, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OdemeKrediKartıCVV, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <button class="btn btn-outline-primary" style="margin-left:0.75cm" onclick="return confirm('Ödeme gerçekleştiriliyor, onaylıyor musunu?')">
        Ödeme Yap
        <i class="icon-payment ml-2"></i>
    </button>
}

