@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using EntityLayer.Concrete
@model IPagedList<Daire>
@{
    ViewData["Title"] = "GetDaire";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<header class="w3-container w3-xlarge w3-padding">
    <p class="w3-center">Daire İşlemleri</p>
</header>

@if (Model is not null)
{
    <div class="w3-container pl-3 pt-3 mt-3 mb-3 bg-success text-white" id="jeans">
        <p>@Model.Count adet Daire listelendi.</p>
    </div>
}
else
{
    <div class="w3-container pl-3 pt-3 mt-3 mb-3 bg-danger text-white" id="jeans">
        <p>Daire bulunamadı.</p>
    </div>
}

<hr />
<a href="/Admin/Daire/AddDaire" class="btn btn-outline-primary text-right">Daire Ekle</a>
<hr />

<table class="table table-bordered table-striped p-5 ">
    <tr>
        <th>Daire No</th>
        <th>Blok</th>
        <th>Durum</th>
        <th>Tip</th>
        <th>Kat Bilgisi</th>
        <th>Daire Sahibi</th>
        <th>Düzenle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DaireNo</td>
            <td>@item.DaireBlok</td>
            <td>
                @if (@item.DaireDurumu)
                {
                    <p class="text-warning">Dolu</p>
                }
                else
                {
                    <p class="text-success">Boş</p>
                }
            </td>
            <td>@item.DaireTipi</td>
            <td>@item.DaireKatı</td>
            <td>@item.DaireKullanıcı.KullanıcıIsım @item.DaireKullanıcı.KullanıcıSoyisim</td>
            <td><a href="/Admin/Daire/UpdateDaire/@item.DaireId" id="UpdateButton" onclick="return confirm('Daireyi düzenleme sayfasına yönlendiriliyorsunuz, emin misiniz?');" class="btn btn-outline-warning text-dark">Düzenle</a></td>
            <td><a href="/Admin/Daire/DeleteDaire/@item.DaireId" id="DeleteButton" onclick="return confirm('Daire siliniyor, onaylıyor musunuz?');" class="btn btn-outline-danger text-dark">Sil</a></td>
        </tr>
    }
</table>
<hr />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("GetDaire", new { page }),
    new PagedListRenderOptions
    {
        LiElementClasses = new List<string> { "page-item" },
        PageClasses = new List<string> { "page-link " },
        Display = PagedListDisplayMode.IfNeeded
    })
