@using EntityLayer.Concrete
@model List<Fatura>

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!-- Top header -->
<header class="navbar-toggler p-4">
    <p class="w3-left text-dark font-weight-bolder" style="font-size:20px">Faturalarım</p>
    <p class="w3-right text-dark font-weight-normal" style="font-size:20px">
        <i class="icon-calendar mr-2"></i>@DateTime.Now.ToLongDateString()
    </p>
</header>
<hr />

@if (Model is not null)
{
    <div class="w3-container pl-3 pt-3 mt-3 mb-3 bg-success text-white" id="faturaSayısı">
        <p>Toplamda @ViewBag.toplamFaturaSayısı adet fatura listelendi.</p>
    </div>
    if(@ViewBag.odenmemisFaturaSayısı != 0)
    {
        <div class="w3-container pl-3 pt-3 mt-3 mb-3 bg-danger text-white" id="!faturaSayısı">
        <p>@ViewBag.odenmemisFaturaSayısı adet ödenmemiş faturanız bulunmaktadır.</p>
        </div>
    }
}
else
{
    <div class="w3-container pl-3 pt-3 mt-3 mb-3 bg-danger text-white" id="jeans">
        <p>Herhangi bir Fatura bulunamadı.</p>
    </div>
}

<hr />
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Arama<i class="icon-search2 ml-2"></i></span>
    </div>
    <input type="text" id="faturaFiltreInput" class="form-control" placeholder="İstediğiniz bilgiye göre arama yapıp, sonuçlarınızı filtreleyebilirsiniz..." aria-label="Username" aria-describedby="basic-addon1">
</div>
<hr />

<table class="table table-bordered table-striped p-5">
    <thead>
        <tr>
            <th>Fatura Tarihi</th>
            <th>Fatura Son Ödeme Tarihi</th>
            <th>Fatura Ücreti</th>
            <th>Fatura Sahibi</th>
            <th>Fatura Tipi</th>
            <th>Fatura Durumu</th>
        </tr>
    </thead>
    <tbody id="faturaTable">
        @foreach (var item in Model)
        {
        <tr>
            <td>@(((DateTime)item.FaturaTarihi).ToString("dd-MMM-yyyy"))</td>
            <td>@(((DateTime)item.FaturaSonOdemeTarihi).ToString("dd-MMM-yyyy"))</td>
            <td>@item.FaturaTutarı TL</td>
            <td>@item.FaturaKullanıcı.KullanıcıIsım @item.FaturaKullanıcı.KullanıcıSoyisim</td>
            <td>@item.FaturaTipi</td>
            <td>
                @if (@item.FaturaOdendiMi)
                {
                    <p class="text-success">Ödendi<i class="icon-check ml-2"></i></p>
                }
                else
                {
                    <p class="text-danger">Ödenmedi<i class="icon-times ml-2 mr-4"></i><a class="btn btn-outline-success" href="/Odeme/FaturaOdeme/@item.FaturaId">Ödeme Yap<i class="icon-payment ml-2"></i></a></p>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#faturaFiltreInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#faturaTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>






