@using EntityLayer.Concrete
@model Mesaj
@{
    ViewData["Title"] = "AddMesaj";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<header class="w3-container w3-xlarge w3-padding mt-3">
    <p class="w3-center">Mesaj Gönder</p>
</header>
<hr />

@using (Html.BeginForm("AddMesaj", "Mesaj", FormMethod.Post))
    {
        @Html.LabelFor(model => model.MesajAlanId, "Yönetici")
        @Html.DropDownListFor(model => model.MesajAlanId, ((List<SelectListItem>)ViewBag.yoneticiler), new { @class = "form-control"})
        @Html.ValidationMessageFor(model => model.MesajAlanId, "*Mesaj yollamak istediğiniz yöneticiyi seçiniz." , new { @class = "text-info"})
        <br />
        <br />
        @Html.LabelFor(model => model.MesajKonusu, "Konu")
        @Html.TextBoxFor(model => model.MesajKonusu, new { @class = "form-control"})
        @Html.ValidationMessageFor(model => model.MesajKonusu, "", new { @class = "text-danger"})
        <br />
        @Html.LabelFor(model => model.MesajIcerik, "İçerik")
        @Html.TextAreaFor(model => model.MesajIcerik, new { @class = "form-control"})
        @Html.ValidationMessageFor(model => model.MesajIcerik, "", new { @class = "text-danger" })
        <hr />
        <button onclick="return confirm('Mesaj gönderiliyor, emin misiniz?')" class="btn btn-outline-primary">Gönder</button>
    }

