@using EntityLayer.Concrete
@model List<Mesaj>
@{
    ViewData["Title"] = "GetSentMesaj";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<main class="content">
    <div class="container p-0">

        <header class="w3-container w3-xlarge w3-padding">
            <p class="w3-center">Mesajlar</p>
        </header>
        <hr />

        <div class="card">
            <div class="row g-0">
                <div class="col-12 col-lg-7 col-xl-9">
                    <div class="position-relative">
                        <div class="chat-messages p-4">
                            @foreach (var item in Model)
                            {
                                <div class="chat-message-right pb-4">
                                    <div class="position-relative">
                                        <button class="btn btn-outline-info rounded-circle disabled">@item.MesajYollayan.KullanıcıIsım.Substring(0, 1)@item.MesajYollayan.KullanıcıSoyisim.Substring(0, 1)</button>
                                        <div class="text-muted small text-nowrap mt-2">@item.MesajTarihi.ToString("U")</div>
                                    </div>
                                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                        <div class="font-weight-bold mb-1">@item.MesajYollayan.KullanıcıIsım @item.MesajYollayan.KullanıcıSoyisim</div>
                                        <h7 class="text-success"><strong>Konu: @item.MesajKonusu</strong> </h7>
                                        <p class="text-info">@item.MesajIcerik</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

