<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Fatura Yönetim Sistemi</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/carousel-11/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .w3-sidebar a {
            font-family: "Roboto", sans-serif
        }

        body, h1, h2, h3, h4, h5, h6, .w3-wide {
            font-family: "Montserrat", sans-serif;
        }
    </style>
    <script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>
</head>
<body class="w3-content" style="max-width:1920px">

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top border-right " style="z-index:3;width:250px" id="mySidebar">
        <div class="w3-container w3-display-container w3-padding-16">
            <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
            <h3 class="w3-wide"><b>Fatura Yönetim Sistemi</b></h3>
        </div>
        <div class="w3-padding-64 w3-large " style="font-weight:bold">
            <a href="/Admin/Home/Index" class="w3-bar-item w3-button">Ana Sayfa<i class="icon-home ml-2"></i></a>
            <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
                Kullanıcı İşlemleri <i class="fa fa-caret-down"></i><i class="icon-user ml-2"></i>
            </a>
            <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium w3-show">
                @Html.ActionLink("Kullanıcıları Listele/Düzenle/Sil", "GetKullanıcı", "Kullanıcı", new { Area = "Admin" }, new { @class = "w3-bar-item w3-button" })
                @Html.ActionLink("Kullanıcı Ekle", "AddKullanıcı", "Kullanıcı", new { Area = "Admin" }, new { @class = "w3-bar-item w3-button" })
            </div>
            <a onclick="myAccFunc1()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn1">
                Daire İşlemleri <i class="fa fa-caret-down"></i><i class="icon-bank ml-2"></i>
            </a>
            <div id="demoAcc1" class="w3-bar-block w3-hide w3-padding-large w3-medium w3-show">
                @Html.ActionLink("Daire Bilgilerini Listele/Düzenle/Sil", "GetDaire", "Daire", new { Area = "Admin" }, new { @class = "w3-bar-item w3-button" })
            </div>
            <a onclick="myAccFunc2()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn2">
                Fatura İşlemleri <i class="fa fa-caret-down"></i><i class="icon-file-text-o ml-2"></i>
            </a>
            <div id="demoAcc2" class="w3-bar-block w3-hide w3-padding-large w3-medium w3-show">
                @Html.ActionLink("Fatura Atama", "AddFatura", "Fatura", new { Area = "Admin" }, new { @class = "w3-bar-item w3-button" })
                @Html.ActionLink("Fatura Listele", "GetFatura", "Fatura", new { Area = "Admin" }, new { @class = "w3-bar-item w3-button" })
            </div>
            <a onclick="myAccFunc3()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn3">
                Aidat İşlemleri <i class="fa fa-caret-down"></i><i class="icon-file-text-o ml-2"></i>
            </a>
            <div id="demoAcc3" class="w3-bar-block w3-hide w3-padding-large w3-medium w3-show">
                @Html.ActionLink("Aidat Atama", "AddAidat", "Aidat", new { Area = "Admin" }, new { @class = "w3-bar-item w3-button" })
                @Html.ActionLink("Tüm Kullanıclara Aidat Atama", "AddAidatForAllUser", "Aidat", new { Area = "Admin" }, new { @class = "w3-bar-item w3-button" })
                @Html.ActionLink("Aidat Listele", "GetAidat", "Aidat", new { Area = "Admin" }, new { @class = "w3-bar-item w3-button" })
            </div>
            <a href="/Admin/Odeme/GetOdemeler" class="w3-bar-item w3-button">Gelen Ödemeler <i class="icon-money ml-2"></i></a>
            <a href="/Admin/Mesaj/GetKullanıcılar" class="w3-bar-item w3-button">Mesajlarım <i class="icon-message ml-2"></i></a>
            <a href="#" class="w3-bar-item w3-button">Borç-Alacak Listesi <i class="icon-user ml-2"></i><i class="icon-money ml-2"></i></a>
        </div>
        <hr />
        <a href="/Admin/Home/About" class="w3-bar-item w3-button">Uygulama Hakkında <i class="icon-question ml-2"></i></a>
        <a href="/Admin/YoneticiGiris/CikisYap" class="w3-bar-item w3-button">Çıkış Yap <i class="icon-sign-out ml-2"></i></a>
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
        <div class="w3-bar-item w3-padding-24 w3-wide">Fatura Yönetim Sistemi</div>
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:250px">

        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:83px"></div>

        <div class="w3-container">
            @RenderBody()
        </div>
    </div>

    <!-- Newsletter Modal -->
    <div id="newsletter" class="w3-modal" style="display: none;">
        <div class="w3-modal-content w3-animate-zoom" style="padding:32px">
            <div class="w3-container w3-white w3-center">
                <i onclick="document.getElementById('newsletter').style.display='none'" class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
                <h2 class="w3-wide">NEWSLETTER</h2>
                <p>Join our mailing list to receive updates on new arrivals and special offers.</p>
                <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
                <button type="button" class="w3-button w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('newsletter').style.display='none'">Subscribe</button>
            </div>
        </div>
    </div>
    

    <script>
        // Accordion
        function myAccFunc() {
            var x = document.getElementById("demoAcc");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }

        function myAccFunc1() {
            var x = document.getElementById("demoAcc1");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }

        function myAccFunc2() {
            var x = document.getElementById("demoAcc2");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }

        function myAccFunc3() {
            var x = document.getElementById("demoAcc3");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }

        document.getElementById("myBtn").click();
        document.getElementById("myBtn1").click();
        document.getElementById("myBtn2").click();
        document.getElementById("myBtn3").click();

        // Open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }
    </script>

</body>
</html>

