@using EntityLayer.Concrete
@model Fatura
@{
    ViewData["Title"] = "AddFatura";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Top header -->
<header class="navbar-toggler p-4">
    <p class="w3-left text-dark font-weight-bolder" style="font-size:20px">Fatura Ekleme Sayfası</p>
    <p class="w3-right text-dark font-weight-normal" style="font-size:20px">
        <i class="icon-calendar mr-2"></i>@DateTime.Now.ToLongDateString()
    </p>
</header>
<hr />

@using (Html.BeginForm("AddFatura", "Fatura", FormMethod.Post))
{
    <div class="d-flex flex-row col-md-12">
        <div class="col-md-6">
            @Html.LabelFor(model => model.FaturaTarihi, "Fatura Tarihi")
            @Html.TextBoxFor(model => model.FaturaTarihi, new { @type = "date", @class = "form-control datepicker" })
            @Html.ValidationMessageFor(model => model.FaturaTarihi, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.FaturaSonOdemeTarihi, "Fatura Son Ödeme Tarihi")
            @Html.TextBoxFor(model => model.FaturaSonOdemeTarihi, new { @type = "date", @class = "form-control datepicker" })
            @Html.ValidationMessageFor(model => model.FaturaSonOdemeTarihi, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="d-flex flex-row col-md-12">
        <div class="col-md-6">
            @Html.LabelFor(model => model.FaturaTutarı, "Fatura Tutarı")
            @Html.TextBoxFor(model => model.FaturaTutarı, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FaturaTutarı, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.FaturaKullanıcıId, "Kullanıcılar")
            @Html.DropDownListFor(model => model.FaturaKullanıcıId, (List<SelectListItem>)ViewBag.kullanıcılar, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FaturaKullanıcıId, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="d-flex flex-row col-md-12">
        <div class="col-md-6">
            @Html.LabelFor(model => model.FaturaTipi, "Fatura Tipi")
            @Html.DropDownListFor(model => model.FaturaTipi, Enum.GetNames(typeof(FaturaTipiEnum.FaturaTipi)).Select(e => new SelectListItem { Text = e }), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FaturaTipi, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <button id="AddButton" onclick="return confirm('Fatura kaydediliyor, onaylıyor musunuz?');" type="submit" style="margin-left:30px" class="btn btn-primary">Fatura Ekle<i class="icon-send ml-2"></i></button>
}

