@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using EntityLayer.Concrete
@model IPagedList<Fatura>
@{
    ViewData["Title"] = "GetFatura";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Top header -->
<header class="navbar-toggler p-4">
    <p class="w3-left text-dark font-weight-bolder" style="font-size:20px">Faturalar</p>
    <p class="w3-right text-dark font-weight-normal" style="font-size:20px">
        <i class="icon-calendar mr-2"></i>@DateTime.Now.ToLongDateString()
    </p>
</header>
<hr />

<a href="/Admin/Fatura/ExportStaticExcelAidatList" class="btn btn-outline-success text-dark">Excel Listesini Al<i class="icon-file-excel-o ml-2"></i></a>

@if (Model is not null)
{
    <div class="w3-container pl-3 pt-3 mt-3 mb-3 bg-success text-white" id="jeans">
        <p>@Model.Count adet Fatura listelendi.</p>
    </div>
}
else
{
    <div class="w3-container pl-3 pt-3 mt-3 mb-3 bg-danger text-white" id="jeans">
        <p>Herhangi bir Fatura bulunamadı.</p>
    </div>
}

<table class="table table-bordered table-striped p-5">
    <tr>
        <th>Fatura Tarihi</th>
        <th>Fatura Son Ödeme Tarihi</th>
        <th>Fatura Ücreti</th>
        <th>Fatura Sahibi</th>
        <th>Fatura Durumu</th>
        <th>Fatura Tipi</th>
    </tr>
    <tbody id="myTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>@(((DateTime)item.FaturaTarihi).ToString("dd-MMM-yyyy"))</td>
                <td>@(((DateTime)item.FaturaSonOdemeTarihi).ToString("dd-MMM-yyyy"))</td>
                <td>@item.FaturaTutarı TL</td>
                <td>@item.FaturaKullanıcı.KullanıcıIsım @item.FaturaKullanıcı.KullanıcıSoyisim</td>
                <td>
                    @if (@item.FaturaOdendiMi)
                    {
                        <p class="text-success">Ödendi<i class="icon-check ml-2"></i></p>
                    }
                    else
                    {
                        <p class="text-danger">Ödenmedi<i class="icon-times ml-2"></i></p>
                    }
                </td>
                <td>@item.FaturaTipi</td>
            </tr>
        }
    </tbody>
</table>
<hr />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("GetFatura", new { page }),
    new PagedListRenderOptions
    {
        LiElementClasses = new List<string> { "page-item" },
        PageClasses = new List<string> { "page-link " },
        Display = PagedListDisplayMode.IfNeeded
    })
